.footerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent linear-gradient(116deg, #36363c 0%, #080808 100%);

    span {
        font-size: 14px;
        font-weight: bold;
        color: $white;
    }
}