* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6,
p, span, label, input {
    font-family: $font-family;
}

body {
    background: $black02;
}

button {
    cursor: pointer;
}

.wrapper {
    main {
        display: flex;
        flex-direction: column;
    }
}

.hd {
    display: none !important;
}