// Variables Sass
$white: #fff;
$black02: #f3f3f3;
$black20: #d5d5d5;
$black40: #ababab;
$black100: #2e2d2c;
$cold-grey10: #ebf0f5;
$cold-grey40: #c4c8cc;
$blue: #3570b2;
$violet: #403d70;
$violet-medium: #5a5789;
$violet-dark: #2d2c45;
$red: #e65562;
$green: #00b98e;
$green-text: #008000;
$green-dark: #008768;
$green-light: rgba(115, 230, 203, 0.8);
$box-shadow: rgba(46, 45, 44, 0.4);

$font-family: "Open Sans", sans-serif;
